<div class="row">
  <div class="col-sm-6">
    <div class="categories-block">
      {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <a href="{{ "/categories/" | relURL }}{{ $name | urlize }}">{{ $name }}</a> {{ end }}
    </div>
  </div>

  <div class="col-sm-6">
    <div class="social-media-block">

      {{ with .Site.Params.social.linkedin }}
      <a href="{{ . }}" data-animate-hover="pulse">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a> {{end}} {{ with .Site.Params.social.facebook }}
      <a href="{{ . }}" data-animate-hover="pulse" class="external facebook">
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.googleplus }}
      <a href="{{ . }}" data-animate-hover="pulse" class="external gplus">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.twitter }}
      <a href="{{ . }}" data-animate-hover="pulse" class="external twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.instagram }}
      <a href="{{ . }}" title="" class="external instagram">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.changba }}
      <a href="mailto:{{ . }}" data-animate-hover="pulse" class="external changba">
          <i class="fa fa-headphones" aria-hidden="true"></i>          
      </a> {{end}} {{ with .Site.Params.social.email }}
      <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.stackoverflow }}
      <a href="{{ . }}" data-animate-hover="pulse">
        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
      </a> {{end}} {{ with .Site.Params.social.github }}
      <a href="{{ . }}" data-animate-hover="pulse">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a> {{end}}

    </div>
  </div>
</div>